@import '~bootstrap/scss/bootstrap';

html {
  font-size: 14px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#chat {
  height: calc(100% - 50px);
}

.fields {
  overflow-y: scroll;
  height: 90%;
}
